.tabs {
    border-right: 1px solid #e1e1e1;
    height: 100%;
    width: 30%;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tabs--theme-dark {
    background-color: #444444;
    color: #f1f1f1;
}

.tabs__menu {
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    list-style: none;
}

.tabs__menu__tab {
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 0.75rem;
    transition: border-color 0.25s ease-in-out;
    width: 100%;
}

.tabs__menu__tab--active {
    border-bottom: 3px solid #007AFF;
}

.tabs--theme-dark .tabs__menu__tab--active {
    border-color: #8BC2FF;
}
