.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.75rem;
    height: 100%;
    width: 100%;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.controls--theme-dark {
    background-color: #444444;
    color: #f1f1f1;
}

.controls__button {
    appearance: none;
    border: 1px solid #007AFF;
    border-radius: 4px;
    background-color: #ffffff;
    color: #007AFF;
    cursor: pointer;
    display: block;
    font-size: 0.8rem;
    margin: 0 1rem 0 0;
    height: 30px;
    padding: 0 10px;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.controls__button:hover {
    background-color: #007AFF;
    color: #ffffff;
}

.controls__button--right {
    margin: 0 0 0 auto;
}

.controls--theme-dark .controls__button {
    background-color: #444444;
    color: #f1f1f1;
    border-color: #f1f1f1;
}

.controls--theme-dark .controls__button:hover {
    background-color: #f1f1f1;
    color: #444444;
    border-color: #444444;
}
